.top-logos {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 33%;
    justify-content: space-between;
    align-items: center;
}

.top-logos img {
    max-width: 150px;
    margin-top: auto;
    margin-bottom: auto;
}

.top-logos div {
    font-size: 56px;
}

.tile {
    margin-inline: 10%;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    border-radius: 40px;
    transition: box-shadow 0.5s ease, background-color 0.5s ease;
}

.tile-img {
    border-radius: 40px;
    width: 40%;
    max-height: 300px;
    margin-right: 5%;
    display: flex;
}

.tile-img img {
    max-height: 300px;
    max-width: 100%;
    margin-inline: auto;
}

.tile-text {
    display: flex;
    flex-direction: column;
}

.tile-title {
    font-size: 40px;
    margin-block: 20px;
}

.tile-description {
    font-size: 20px;
    color: #BDBDBD;
}

.tile:hover {
    background-color: #0d0d0d;
    box-shadow: 30px 30px 1px #1db954;
}
