/* Gap per week */

.concert-07 {
    left: 13%;
}

.concert-10 {
    left: 19%;
}

.concert-12 {
    left: 23%;
}

.concert-13 {
    left: 25%;
}

.concert-16 {
    left: 30%;
}

.concert-17 {
    left: 32%;
}

.concert-20 {
    left: 38%;
}

.concert-22 {
    left: 42%;
}

.concert-23 {
    left: 44%;
}

.concert-24 {
    left: 46%;
}

.concert-25 {
    left: 48%;
}

.concert-26 {
    left: 50%;
}

.concert-34 {
    left: 65%;
}

.concert-38 {
    left: 73%;
}

.concert-39 {
    left: 75%;
}

.concert-41 {
    left: 78%;
}

.concert-42 {
    left: 80%;
}

.concert-50 {
    left: 96%;
}

/* Gap per date (DDMM) */

.concert-1702 {
    left: 13%;
}

.concert-0803 {
    left: 18%;
}

.concert-1003 {
    left: 19%;
}

.concert-2303 {
    left: 23%;
}

.concert-0104 {
    left: 25%;
}

.concert-2004 {
    left: 30%;
}

.concert-2604 {
    left: 32%;
}

.concert-1905 {
    left: 38%;
}

.concert-3105 {
    left: 41%;
}

.concert-0406 {
    left: 42%;
}

.concert-0706 {
    left: 43%;
}

.concert-1706 {
    left: 46%;
}

.concert-1806 {
    left: 46%;
}

.concert-1906 {
    left: 47%;
}

.concert-2206 {
    left: 47%;
}

.concert-2706 {
    left: 49%;
}

.concert-2806 {
    left: 49%;
}

.concert-2906 {
    left: 49%;
}

.concert-3006 {
    left: 50%;
}

.concert-0107 {
    left: 50%;
}

.concert-0207 {
    left: 50%;
}

.concert-0307 {
    left: 13%;
}

.concert-2608 {
    left: 65%;
}

.concert-3009 {
    left: 75%;
}

.concert-1310 {
    left: 78%;
}

.concert-2110 {
    left: 80%;
}

.concert-1512 {
    left: 96%;
}