#card-2016 > .year-chrono {
    background-color: #f5b400;
}

#card-2016 .concert-point {
    background-color: #7200f5;
}

#card-2017 > .year-chrono {
    background-color: #f5ee00;
}

#card-2017 .concert-point {
    background-color: #f5b000;
}

#card-2018 > .year-chrono {
    background-color: #a6f500;
}

#card-2018 .concert-point {
    background-color: #f500a7;
}

#card-2019 > .year-chrono {
    background-color: #00f5e7;
}

#card-2019 .concert-point {
    background-color: #f53900;
}

#card-2020 > .year-chrono {
    background-color: gray;
}

#card-2021 > .year-chrono {
    background-color: #f5007b;
}

#card-2021 .concert-point {
    background-color: #7bf500;
}

#card-2022 > .year-chrono {
    background-color: #9f00f5;
}

#card-2022 .concert-point {
    background-color: #f5c800;
}

#card-2023 > .year-chrono {
    background-color: #0000f5;
}

#card-2023 .concert-point {
    background-color: #f57b00;
}

#card-2024 > .year-chrono {
    background-color: #009ff5;
}

#card-2024 .concert-point {
    background-color: #f55200;
}